<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Edit Post</h2>

  <%= form_with model: @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title%>

    <br><br>

    <%= f.label :description %>
    <%= f.text_field :description%>

    <br><br>

    <%= f.label :author %>
    <%= f.text_field :author%>

    <br><br>

    <%= f.submit %>

  <% end %>
</div>

</body>
</html>